build/
build-bench/
examples/basic/build/
bench/results/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Makefile

*.o
*.obj
*.exe
*.log
*.dir
*.runfiles
*.swp
*.gcda
*.gcno

.vscode/
.idea/
.DS_Store

# Doxygen / doc output
docs/*

*.js

!docs/html/
!docs/html/**

docs/html/search/
docs/html/search/**

# Release assets
t81lib-*.tar.gz
